* {
    padding: 0%;
    margin: 0%;
    /* width: 100%; */

}
body{
    background-color: rgb(9 9 27);
    margin: 0%;
}
.page-container{
    width: 100vw;
    min-height: 100vh;

}

header{
    padding-left: 465px;
    padding-right: 465px;
    background-color: hsl(248, 20%, 8%);
}
.navbar{

    padding: 2rem 1rem 2rem 1rem;
    font-family: 'Poppins', sans-serif;
   justify-content: center; 
    align-items: center; 
}
.navbar ul{
    display: flex;
}
.navbar ul li {
    display: inline-block;
    list-style: none;
    align-items: center;
   margin-right: 1rem;
    margin-left: 1rem;
    color: aliceblue;
    font-size: 16px;


    
}

nav{
    display: flex;
    justify-content: center;
}


.container {
    justify-content: center;
    align-items: left;
    padding: 10em 20em;
    margin: 10em 20em;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
